{% extends "base.html" %}
{% block head_title %}{% endblock %}
{% block head %}
    <script type="text/javascript">

    $(document).ready(function(){


        $('#labelNumberOfTasks').html($('#numberOfTasks').val());
    });

    </script>

 {% endblock %}

{% block content %}

        <div class='page'>

        <div class="willDomessage centerElement generalText">
        today I will..<br>
            <textarea id="newTask" style=" resize: none; " cols="63" rows="1"></textarea><img src="{{ STATIC_URL }}images/plus.png" onclick="addTask('none')" width="35" height="35">
            <div class="errorMessage"> Keep it simple. 100 characters are enough for you. </div>
        </div>

        <div class="container centerElement">
            <input type="hidden" id="numberOfTasks" name = "numberOfTasks" value="{{ numberOfTasksLeft }}">
            <table class="taskTable" id="tasks" >
                {% for aTask in taskList %}
                    <tr id='taskID_{{ aTask.pk }}' class="taskItem">

                        <td class="taskColumn">

                            <img id="imageID_{{ aTask.pk }}" src="{{ STATIC_URL }}images/task-icon-{{ aTask.taskClass }}.jpg" width="16" height="16">
                            <span id="textID_{{ aTask.pk }}" class="taskText taskText_{{ aTask.taskClass }}"> {{ aTask.text }} </span>
                        <td class="updateMenu">
                            <img src="{{ STATIC_URL }}images/cross.png" width="16" height="16" onclick = 'markTask({{ aTask.pk }},3)'>
                            <img src="{{ STATIC_URL }}images/tick.png" width="16" height="16" onclick='markTask({{ aTask.pk }},2)'>
                            <img src="{{ STATIC_URL }}images/minus.png" width="16" height="16" onclick='deleteTask({{ aTask.pk }})'>
                        </td>
                    </tr>

                {% endfor %}

            </table>
        </div>

        <div class="pageFooter  centerElement generalText">

            <div>You have <label id="labelNumberOfTasks"></label> task left.</div>
        </div>

        <div class="saveMessage  centerElement generalText">


        </div>

        </div>
{% endblock %}
